body{
    margin: 0;
}

header {
    display: flex;
    background: ivory;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: solid 5px #01a3e4;
    border-bottom-style: double;
}

h1{
    border-bottom: solid 1px lightgreen;
}

nav {
    margin: 0 20px;
}

img {
    width: 75px;
    margin: 0 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    font-size: 30px;
}

a {
    text-decoration: none;
}

ul, li{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}
