body{
    margin: 0;
}

header {
    display: flex;
    background: ivory;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: solid 5px black;
    border-bottom-style: double;
}

h1{
    border-bottom: solid 1px lightgreen;
}
