.container_formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__titulo{
    text-align: center;
    padding-bottom: 50px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

input{
    border: none;
    border-bottom: dotted;
}

p.parrafo {
    font-size: 2em;
    font-style: italic;
    text-align: center;
    padding-bottom: 30px;
}

/* --------------------------------------------------------------------------- */
/* ----------------------------- MEDIA QUERYS -------------------------------- */
/* --------------------------- AJUSTE PANTALLAS ------------------------------ */
/* --------------------------------------------------------------------------- */

@media screen and (max-width: 1100px){

}

@media screen and (max-width: 769px){

}

@media screen and (max-width: 450px){
    p.parrafo {
        font-size: 10px;
    }
}




