.container-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: lightsteelblue;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px 0;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

