/* ------------------------ */
/* -----ESTILOS DETAIL----- */
/* ------------------------ */
.container_detalles{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detalles{
    font-size: 30px;
    padding: 50px;
}
.detalles_titulo{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #01a3e4;
    opacity: 0.8;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    width: 1000px;
}
.detalles_titulo:hover{
    background-color: #1392c5;
    opacity: 0.8;
}
.detalles_descripcion{
    text-align: justify;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
    width: 1000px;
    border: solid;
    border-color: #01a3e4;
    border-radius: 10px;
    opacity: 0.8;
    animation-delay: 5s;
}
/* ------------------------ */
/* ------------------------ */
/* ------------------------ */


/* FORMULARIO */
.container_formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario_opciones, .formulario_maximo, .formulario_suma{
    margin-bottom: 25px;
}

.contenedor-opciones{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contenedor-opciones > label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.etiqueta-opcion > input{
    margin: 10px;
}

.etiqueta-opcion > input:hover{
    cursor: pointer;
}

.seccion-formulario-titulo {
    font-size: 20px;
    font-weight: 610;
    font-style: italic;
    text-decoration: underline;
}

.pregunta{
    font-size: 20px;
}

.formulario_opciones, .formulario_maximo, .formulario_suma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.formulario_maximo > label, .formulario_suma > label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-weight: 500;
}

input[type="number"] {
    width: 80px;
    border: none;
    border-bottom: dotted 2px gray;
}

.contenedor-boton{
    padding: 30px;
}

button{
    width: 200px;
}

/* ELECCIÓN */
.eleccion{
    text-transform: capitalize;
}

.eleccion.argentina {
    text-shadow: 1px 1px black;
    background: linear-gradient(0deg, #2d94ee, white, #2d94ee);
}

/* GANADOR ELEGIDO */
.ganador-elegido {
    padding: 50px;
    font-size: 16px;
    font-style: italic;
    border: solid 1px lightgray;
    border-radius: 30px;
}

.ganador-elegido.argentina {
    font-size: 20px;

}

