.container-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: lightsteelblue;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px 0;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-formulario {
    background: aliceblue;
}

.container-resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}



/* --------------------------------------------------------------------------- */
/* ----------------------------- MEDIA QUERYS -------------------------------- */
/* --------------------------- AJUSTE PANTALLAS ------------------------------ */
/* --------------------------------------------------------------------------- */

@media screen and (max-width: 1100px){

}

@media screen and (max-width: 769px){

}

@media screen and (max-width: 450px){

}

@media screen and (max-width: 325px){

}
